{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
        <title>URL Shortener</title>
    </head>
    <body>

        <!-- Long URL submission form  -->
        <form action="{% url 'url_shortener:generate_code' %}" method="post">
            {% csrf_token %}
            <label for="long-url">Long URL:</label>
            <input type="text" id="long-url" name="long-url" placeholder="Paste your long URL here..." required><br>
            <input type="submit" value="Generate Short URL"/>
        </form>

        <!-- Error message in case invalid form submission -->
        {% if error_message %}
            <h5>{{error_message}}</h5>
        {% endif %}

        <!-- Output shortened url -->
        {% if short_url %}
            <h5>Your shortened URL:</h5>
            <p><a href="{% url 'url_shortener:go' short_url %}">localhost:8000/url_shortener/go/{{short_url}}</a></p>
        {% endif %}
        

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>