<h1>Short url generator</h1>
{% comment %} {% for urls in long_url %}
    <p>{{urls.long_url}}</p> {% endcomment %}

<form action="{% url 'url_shortner_app:user_input' %}" method="post">
    {% csrf_token %}
    {% comment %} <label for="long">Place your URL Here: </label><br> {% endcomment %}
    <input type="text" name="long" id="long" placeholder="Place your URL Here"/><br>
    <input type="submit" value="Get the short Url"/>
</form>
{% comment %} {% if request.user_input == short_url %} {% endcomment %}

{% if new_link %}
{{new_link}}
{% endif %}