{% extends 'base.html' %}
{% block content %}

{% for chirp in object_list %}

<div class="Chirp-entry">
  <h2><a href="{% url 'chirpApp:detail' chirp.id %}">View This Chirp</a></h2>
  <h5><em><a href="{% url 'users:profile' chirp.author.username %}">{{ chirp.author.username}}</a> -- {{ chirp.date_created }}</em></h5>
  <br>
  <p>{{ chirp.body_text }}</p>
  {% comment %} <a href="{% url 'chirpApp:index' %}">Main Page</a> {% endcomment %}
</div>
{% if user == chirp.author %}
    <p><a href="{% url 'chirpApp:edit' chirp.pk %}">Edit Chirp</a>&nbsp;<a href="{% url 'chirpApp:delete' chirp.pk %}">Delete Chirp</a></p>
    {% endif %}
    
{% endfor %}

{% endblock content %}