{% extends 'grocerylist/base.html' %}

{% block title %}
Grocery List
{% endblock %}

{% block content %}
  {% if error %}
  <h2 class="error-message"><strong>{{ error }}</strong></h2>
  {% endif %}

  <h3>Enter a grocery list item:</h3>
  <form action="{% url 'grocerylist:add_entry' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="List me">
  </form>
  

  <h3>Grocery list</h3>
  {% if incomplete_enties %}
    <div>
    {% for entry in incomplete_entries %}
      <div class="item">
        <p>{{ entry.name }}</p>
        <form action="{% url 'grocerylist:entries_completed' entry.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Bought.">
        </form>
        <form action="{% url 'grocerylist:delete' item.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Submit">
        </form>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <p>Your list is empty. Enter a grocery list item.</p>
  {% endif %}

  <h3>Completed items</h3>
  {% if complete_entries %}
    <div>
    {% for item in complete_items %}
      <div class="item">
        <p>{{ entry.name }}</p>
        <form action="{% url 'grocerylist:delete' entry.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete entry.">
        </form>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <p>You haven't completed anything! Get shopping!</p>
  {% endif %}
{% endblock %}