{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'url_shortner_app/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<h1>Short url generator</h1>
<div class="form">
    <div class="type_text">
        <p>Type your Url below</p>
    </div>
    <form action="{% url 'url_shortner_app:user_input' %}" method="post">
        {% csrf_token %}
        {% comment %} <label for="long">Place your URL Here: </label><br> {% endcomment %}
        <input type="text" name="long" id="long" placeholder="Place your URL Here"/><br>
        <input type="submit" value="Get the short Url"/>
    </form>
</div>
<div class="link">
    {% if new_link%}
        <p>Your Short link is: <a href="{% url 'url_shortner_app:redirect' new_link.short_url %}">{{new_link}}</a></p>
        <p>Click the link to return to site^</p>
    {% endif %}
</div>



{% comment %} the comment below was just to display the link that was trying to be hyperlinked by short url {% endcomment %}
{% comment %} {% if new_link %}
{{new_link}}
{% endif %} {% endcomment %}


