* {
    font-family: 'Concert One', cursive;
}
#top {
    text-align: center;
    color: #0F4C81;
    margin: 20%;
    font-size: 250%;
    text-shadow: 1px 1px turquoise;
    font-family: 'Concert One', cursive;

}
body {
    background: rgb(182, 231, 233);
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: auto;
    color: #0F4C81;
    justify-content: center;
    font-size: x-large;
}
#user_url {
    margin:6px;
    width: 100%;
}
#submit_id {
    margin: 6px;
    width: 100%;
    background: rgb(152, 183, 251);
}
a {
    font: bolder;
    color: rgb(144, 42, 202);
}
p {
    margin:20%
}

@media only screen and (min-width: 1000px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        height: auto;
        margin: auto;
        color: #0F4C81;
        justify-content: center;
    }
    #top {
        
        margin: 6px;
        margin-top: 20%;
        font-size: 300%;
    }
    #submit_id {
        height: 40%;
    }
    #button_text {
        font-size: 170%;
    }
    #tiny_id, #no_tiny {
        font-size: 150%;
        margin: 12px;
    }
    
}
@media only screen and (min-width: 1440px){
    .container {
        display: flex;
        flex-direction: column;
        width: 700px;
        height: auto;
        margin: auto;
        color: #0F4C81;
        justify-content: center;
    }
}