<!--Banner-->
<div class="banner">
  <div class="bg-color">
      <div class="container">
          <div class="row">
              <div class="banner-text text-center">
                  <div class="text-border">
                      <h2 class="text-dec">Registration Zone</h2>
                  </div>
                  <div class="intro-para text-center quote">
                      <p class="big-text">Welcome to KAKAW</p>
                      <p class="small-text">To register, please fill out the form below.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/ Banner-->