{% load crispy_forms_tags %}

<div class="container text-center">
    <div>
        <h1></h1>
    </div>

    <form method="POST" class="mc-trial row">
        {% csrf_token %}
        <div class="form-group col-md-3  col-sm-3">
            <div class=" controls">
                {{ form.username|as_crispy_field }}
            </div>
        </div>
        <!-- End email input -->
        <div class="form-group col-md-3 col-sm-4">
            <div class=" controls">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        <!-- End email input -->
        <div class="form-group col-md-3  col-sm-4">
            <div class=" controls">
                {{ form.password1|as_crispy_field }}
            </div>
        </div>
        <!-- End email input -->
        <div class="form-group col-md-3 col-sm-4">
            <div class=" controls">
                {{ form.password2|as_crispy_field }}
            </div>
        </div>
        <!-- End email input -->
        <div class="col-md-3 col-sm-4">
            <p>
                <button name="submit" type="submit" class="btn btn-block btn-submit">
                    Submit <i class="fa fa-arrow-right"></i></button>
            </p>
        </div>
    </form>
</div>