<head>
<style>
        body {
        
        padding: 10px;
        color: #0F4C81;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: beige;
        }

        select {
        margin: 4px;
        }

        input {
        margin: 2px;
        font-size: large;
        }

        button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: medium;
        border-radius: 6px;
    }
</style>
</head>

<h1>Sign up</h1>
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Sign Up">
</form>