body {
    padding-top: 70px;
    padding-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .theme-showcase .navbar .container {
    width: auto;
  }
  
section {
    border-left: 3px solid blue;
  }
section * {
  padding: 3px;
}

div.alert {
  margin-top: 30px;
}

.jumbotron * {
  padding-left: 12px;
}