/* Grid Page Layout */
body{
  background-color: rgba(11, 71, 53, 0.589);
  /* max-width: 1200px; */
}

.wrapper {
  /* display: flex;  
  flex-flow: row wrap; */
  max-width: 1400px;
  margin: auto;
  align-self: auto;
  /* font-weight: bold; */
  /* text-align: center; */
}

.wrapper > * {
  padding: 0px;
  flex: 1 100%;

  /* border:1px solid #000; */
}

.header {
  grid-area: header;
  max-width: 344px;
  box-shadow: 0 0 20px black;
  margin: 6px;
}

.sidebar {
  grid-area: sidebar;
  max-width: 300px;
  background-color: rgba(187, 185, 50, 0.521);
  box-shadow:0 0 12px #333;
  margin: 6px;
  padding: 6px;
}

.main {
  grid-area: main;
  /* max-width: 1000px; */
  font-size: medium;
  font-family: 'Oswald', sans-serif;
}

.footer {
  grid-area: footer;
  /* background-color: rgba(136, 101, 38, 0.507); */
  margin-left: 12px;
  text-align: justify;
  font-weight: 300;
  font-size: small;
  font-family: 'Oswald', sans-serif;
  
  
  
}

.container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 12px;
  margin-left: 12px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "sidebar header header ."
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
}

.flex_container{
  display: flex;
  flex-direction: column;
  background-color: rgba(187, 185, 50, 0.521);
  /* background-color: rgba(105, 25, 158, 0.699); */
  box-shadow:0 0 12px #333;
  padding: 6px;
   
  margin: 6px;
}

.flex_images{
  display: flex;
  flex-direction: row;
  /* background-color: rgba(204, 171, 23, 0.726); */
  margin: 6px;
}

img {
  margin: 24px;
  box-shadow: 0 0 20px black;
}

iframe {
  margin: 24px;
  box-shadow: 0 0 20px black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(187, 185, 50, 0.521);
 }

li {
  float: left;
  box-shadow:0 0 6px #333;
  background-color: rgba(253, 0, 0, 0.87);
  border: 1px solid black;
  
  margin: 6px;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
 
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(206, 226, 21, 0.788);
}

fieldset
{
  border: 1.75px solid rgb(0, 0, 0);

}

legend {
  font-weight: bold;
}
