#wrapper{
  width:1024px;
  margin:0 auto;
}
#header h1{
  text-align: center;
}
  nav.navigation {
  display: block;
  margin-bottom: 10px;
}
nav.navigation ul {
  list-style: none;
  font-size: 14px;
  text-align: center;
}
nav.naviation ul li {
  display: inline-block;
}
nav.navigation ul li a {
  display: block;
  float: left;
  padding: 3px 6px;
  color: #575c7d;
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}
nav.navigation ul li a:hover {
  background: #ccc;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0;
  text-decoration: none;
}
