{% extends 'base.html' %}

{% block content %}
<h2>{{ object.username }}</h2>

{% for chirp in object.chirp_set.all %}
  <div class="Chirp-entry">
    <h5><a href="{% url 'chirpApp:detail' chirp.id %}"></a></h5>
    <h5><em>{{ chirp.author.username}} -- {{ chirp.date_created }}</em></h5>
    <br>
    <p>{{ chirp.body_text }}</p>
  </div>
  {% if request.user == chirp.author %}
    <p><a href="{% url 'chirpApp:edit' chirp.pk %}">Edit Chirp</a>&nbsp;<a href="{% url 'chirpApp:delete' chirp.pk %}">Delete Chirp</a></p>
    {% endif %}
{% endfor %}
{% endblock content %}