html{
    background-color: rgb(190, 180, 180);
}

#function, header{
    text-align: center;
    font-size: large;


}
#function{
    text-align: center;
    width:auto;
}
#ticket{
    position: absolute;
    height: 800px;
    width:500px;
    margin-left: 10px;
    filter: drop-shadow(0 0 0.75rem crimson);
}


