/* blue: #2C3759
light blue: #049DBF
ligh khaki: #F2D7B6
brown: #8C5A1C
brown-orange: #F2A81D
white: #FFFFF
font-family: 'Lakki Reddy', cursive;            Cornball Logo
font-family: 'Roboto', sans-serif;              Text */

