/* blue: #2C3759
light blue: #049DBF
ligh khaki: #F2D7B6
brown: #8C5A1C
brown-orange: #F2A81D
white: #FFFFF
font-family: 'Lakki Reddy', cursive;            Cornball Logo
font-family: 'Roboto', sans-serif;              Text */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,1)), radial-gradient( #049DBF, #2C3759) ;
}

header, nav, main, footer {
    padding: 6px;
    font-family: 'Roboto', sans-serif; 
    color: #F2D7B6
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Lakki Reddy', cursive;
    
    background: linear-gradient(to bottom, #F2D7B6, rgb(167, 147, 124));
    border: 3px solid #2C3759;
    border-radius: 12px;
    padding: 3px;
    max-width: 1080px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #F2D7B6;
}
a :hover {
    color: #F2A81D;
    transition: color ease .125s;
}

h1 {
    padding-top: 30px;
    display: none;
    font-size: 48px;
    color:  #049DBF;
    margin: 0px;
}

#top-banner {
    display: flex;
    align-items: center;
}
header img {
    border-radius: 6px;
    margin-right: 12px;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #2C3759, black);
    border: 3px solid #2C3759;
    border-radius: 12px;
}
nav a {
    width: 168px;
    padding-right: 18px;
    font-size: 1.5em;
    margin: 6px;
}

#content {
    max-width: 900px;
    margin-left: 12px;
}

#content img {
    max-width: 100%;
    border-radius: 50% 50% 12.5% 12.5%;
}
figure{
    margin: 6px;
}
figure img {
    width: 250px;
    margin: 12px;
}
.picture-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figcaption {
    text-align: center;
}

#social {
    display: flex;
    justify-content: center;

}

#social a img {
    width: 42px;
    height: 42px;
    margin: 12px;
}
footer {
    max-width: 1080px;
    margin: auto;
}
#fine-print{
    display: flex;
    justify-content: center;
}
#fine-print p {
    margin: 12px;
}
@media (min-width: 768px) {
    h1 {
        display: inline;
    }
    nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    main {
        flex-direction: row;
    }
    #picture-tiles {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1024px) {

    h1 {
        display: inline;
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    main {
        flex-direction: row;
    }
    #picture-tiles {
        flex-wrap: nowrap;
    }
}