    <div id="app">
        {{message}}
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
    </div>
    <div id="app-3">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-4">
        <p>{{ message }}</p>
        <input v-model="message">

    </div>
    <div id="app-5">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="routeInput" type="text" placeholder="Route"/>
        <button @click="getBuses">Search</button>
        <ul>
            <p v-if"results.length > 0">Line {{results[0].routeNumber]}}</p>
            <li v-for="bus in results" :key"bus.vehicleID">Bus {{bus.vehicleID}} is {{-bus.delay}} seconds late</li>//this is found in the api web
        </ul>
    </div>
    <script></script>
    <script></script>
</body>
</html>