.callout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-height: 36px;
}

.top-bar-left {
    display: flex;
    align-items: center;

}

.top-bar-left * {
    margin-bottom: 0;
    padding-right: 36px;
}