.callout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callout.primary {
    /* background-color: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,1)), radial-gradient( red, purple) ; */
    background-image:  linear-gradient(to bottom right, rgb(156, 143, 240), rgb(77, 52, 240));
}

#logo {
    max-height: 36px;
}

.top-bar-left {
    display: flex;
    align-items: center;

}

.top-bar-left * {
    margin-bottom: 0;
    padding-right: 36px;
}

.custom-form {
    max-width: 70vw;
    margin: auto;
}

.custom-form-login {
    max-width: 50vw;
    margin: auto;
}

.custom-like-item {
  color: rgb(6, 192, 6);
}

.custom-dislike-item {
  color: red;
}

.custom-comment-item {
  color: blue;
}

.custom-reactions {
  display: flex;
  align-items: center;
}

.menu.simple a {
  margin-right: 0;
}

.card-flex-article {
    max-width: 80vw;
    margin: auto;
    margin-top: 36px;
}

.card-flex-article .card-divider {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
  }
  
  .card-flex-article .card-divider p {
    margin-bottom: 0;
  }
  
  .card-flex-article .card-divider .avatar {
    margin-right: 0.75rem;
  }
  
  .card-flex-article .avatar {
    position: relative;
  }
  
  .card-flex-article .avatar img {
    border-radius: 50%;
  }
  
  .card-flex-article .avatar.with-add-icon .fa {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #cc4b37;
  }
  
  .card-flex-article .card-actions .fa:not(:last-of-type) {
    margin-right: 1rem;
  }
  
  .card-flex-article .card-image {
    position: relative;
  }
  
  .card-flex-article .card-tag {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3%;
  }
  
  .card-flex-article .card-section .article-title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 0;
  }
  
  .card-flex-article .card-section .article-details {
    font-size: 0.75rem;
    opacity: 0.5;
    padding-bottom: 0.75rem;
  }
  
  .card-flex-article .card-section .article-summary {
    font-family: 'Merriweather', serif;
  }
  
  .card-flex-article .user-info {
    font-size: 0.75rem;
  }
  
  .card-flex-article .user-info .user-name {
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .card-flex-article .notability {
    font-size: 0.75rem;
    opacity: 0.5;
  }
  
  .comment-section-container {
    background-color: #fefefe;
    padding: 1rem;
  }
  
  .comment-section-author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .comment-section-author .comment-section-name {
    margin-left: 1rem;
  }
  
  .comment-section-author .comment-section-name p {
    margin-bottom: 0;
  }

  .comment-section-author img {
    max-width: 50px;
    max-height: 50px;
  }

  .custom-avatar {
    max-width: 50px;
    max-height: 50px;
  }
  
  #custom-user-avatar{
    max-width: 80px;
    max-height: 80px;
  }

  .comment-section-box {
    background-color: #e6e6e6;
    padding: 1rem;
  }
  
  .custom-comment {
    background-color: rgba(166, 155, 241, 0.2);
    border-radius: 12px;
    margin-bottom: 1rem;
  }
  
  .comment-section-text p{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .custom-comment .custom-edit-delete {
    margin-left: 1rem;
  }