html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: blue;
}

img {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
}
#app, header, .item {
margin: 18px auto;
width: 760px;
  
padding: 12px;

border: 3px solid black;

box-shadow: 0 0 12px black;

background-color: #000099;

}



p {
  color: white;
  font-family: 'Fjord One', serif;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}
