html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.row {
    display: flex;
}

.column {
    flex: 25%;
    flex-direction: column;
}

.flex-nav p {
    border: 1px solid red;
    margin: 6px;
    padding: 3px;
  }

.body {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Advent Pro', sans-serif;
  }
  
header, main {
    justify-content: flex-end;
    margin: auto;
    text-align: center;
    padding: 12px;
    border: 5px solid red;
    font-family: 'Advent Pro', sans-serif;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .footer {
    text-align: center;
    color: white;
    background: blue;
    margin: auto;
    align-self: flex-end;
    /*position: absolute;*/
    bottom: 0;
  }
  
/* The sidebar menu */
.topics {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: black;*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-image: url("Doom_thumb.png");
    background-size: cover;
    background-position: fit;
    font-family: 'Orbitron', sans-serif;
}
  
  /* The navigation menu links */
  .topics a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    font-family: 'Orbitron', sans-serif;
  }
  
  /* Change color of the nav links at mouse over*/
  .topics a:hover {
    color: blue;
  }
  
  /* Style page content */
  .main {
    margin-left: 25%; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }