<html>
<head>
    <title>TinyUrl Maker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tinyurl_app/style.css' %}">
</head>
<body>
    <h1 id="top"> Tiny URL Maker</h1>
    <div class="container">
        <form action="{% url 'tinyurl_app:shorten' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user_url" id="user_url" placeholder="Enter your long URL here" pattern="^(http|https):\/\/.+" title="All submitted URLs must begin with https://"/>
        <input type="submit" value="Make Tiny" id="submit_id"/>
        </form>
        {% if tiny_text %}
            <p id="tiny_id"> Your tiny url is:  <a href="{% url 'tinyurl_app:redirecting' tiny_text=tiny_text %}"> {{tiny_text}} </a></p>
        {% else %}
            <p id="no_tiny"> Please enter a URL to shorten. </p>
        {% endif %}
    </div>
</body>

