html {
    background-image: url(digital.jpg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
}
form {
    text-align: center;
}