body {
    background-color: darkmagenta;
}

h1, h2 {
    color: lightskyblue;
}

input, li {
    color: lightblue;
    font-size: 14pt;
    font-weight: bold;
}

button {
    background-color: magenta;
    color: lightblue;
    border: lightblue;
}

button:hover {      
    background-color: skyblue;      
    color: darkmagenta; 
    border: lightblue;
}

