
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    /* text-align: center; */
    text-align: justify;
}

a, li {
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    text-decoration: none;
    /* text-align: center; */
    text-align: justify;
}

body {
    background: url("images/giphy.gif") repeat;
}