{% extends 'users/base.html' %}
{% block content %}
    <h2>About Petster</h2>
    <blockquote>
        Heckin shibe boof the neighborhood pupper shooberino tungg, h*ck extremely cuuuuuute smol. much ruin diet stop it fren. wrinkler very hand that feed shibe. Long doggo very jealous pupper long doggo boof pupper, lotsa pats doggo I am bekom fat, extremely cuuuuuute shoob heckin. blop shoob shibe. Much ruin diet porgo borkdrive clouds aqua doggo, snoot many pats. Smol borking doggo with a long snoot for pats h*ck heckin good boys lotsa pats puggo, clouds heckin angery woofer doggo, fat boi shoober heckin good boys and girls. Stop it fren such treat wrinkler super chub, much ruin diet. snoot blep smol. Long bois what a nice floof shoober you are doing me a frighten long bois, snoot smol borking doggo with a long snoot for pats porgo fat boi porgo, aqua doggo shoober doge.
    </blockquote>
{% endblock content %}