{% extends 'events/base.html'%}
{% csrf_token %}
{% block content %}
<div class="row justify-content-center mt-3">
  <div class="col">
  </div>
  <div class="col-4 text-center">
  <!-- search input -->
   <input type="text" v-model="city" class="form-control main-head" placeholder="Enter City to Search">
  </div>
  <div class="col-4"> 
    <!-- search button -->
    <button @click="citySearch" class="btn btn-outline-light main-head">Search!</button>
  </div>
</div>

<div class="row my-5">
  <local-event
  v-for='event in localEvents'
  :key='event.id'
  :event='event'
  ></local-event>
</div>
{% endblock content %}


