<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Famous Quotes</title>

    <link rel="stylesheet" href="css/site.css" />

</head>

<body>
    <div id="app">
        <random-quote></random-quote>
        <input type="text" v-model="searchTerms">
        <button @click="newQuotes" id="new-quote-button">Find quotes</button>
        <button @click="prevPage" v-if="pageNumber > 1">prev</button>
        <button @click="nextPage" v-if="pages.length > 0 && quoteList[0].body != 'No quotes found'">next</button>
        <hr>
        <quote-list :quotes="quoteList" :pagenum="pageNumber"></quote-list>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/secrets.js"></script>
    <script src="js/site.js"></script>
</body>