{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chirp</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}"/> -->
    <!-- <link rel="stylesheet" href="{% static 'css/app.css' %}"/> -->
</head>

<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <img src="{% static 'img/logo.png' %}" id='logo'/>
            {% if request.user.is_authenticated %}
                <h6>Hi {{ request.user.username }}!</h6>
            {% endif %}
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'posts:home' %}">News Feed</a></li>
                    <li><a href="{% url 'posts:create' %}">New Chirp</a></li>
                    <li><a href="{% url 'users:profile' request.user.username %}">My Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'users:signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>