{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="callout large primary">
    <div class="row column text-center">
        <h1>All Chirps</h1>
    </div>
</div>

<div class="row" id="content">
    <div class="medium-8 columns">
        {% for post in object_list %}
            <div class="blog-post">
                <h3><a href='{% url "users:profile" post.author %}'> {{ post.author }} </a><a href='{% url "posts:view" post.id %}'><small>{{ post.date_created }}</small></a></h3>

                {% if post.picture %}
                    <a href="{% url 'posts:view' post.id %}"><img class="thumbnail" src="{{ post.picture.url }}"></a>
                {% endif %}
                {% if post.text %}
                <p>{{ post.text }}</p>
                {% endif %}

                <div class="callout">
                    <ul class="menu simple">
                        <li>
                            <form method='post' action="#">
                                {% csrf_token %}
                                <input type='hidden' name='chirp_id' value='{{ post.id }}'/>
                                <input type='image' src="{% static 'img/fi-comment.svg' %}"/>
                            </form>
                        </li>
                        <!-- <li class="custom-comment-item"> -->
                        <li>
                            <strong>{{ post.comment_set.count }}</strong> &nbsp;
                        </li>
                        <li>
                            <form method='post' action="{% url 'posts:like' %}">
                                {% csrf_token %}
                                <input type='hidden' name='chirp_id' value='{{ post.id }}'/>
                                <input type='image' src="{% static 'img/fi-like.svg' %}"/>
                                
                            </form>
                        </li>

                        {% if post in request.user.profile.chirps_liked.all %}
                            <li  class="custom-like-item" >
                        {% else %}
                            <li>
                        {% endif %}
                            <strong>{{ post.likes.count }}</strong>&nbsp;
                        </li>
                        <li>
                            <form method='post' action="{% url 'posts:dislike' %}">
                                {% csrf_token %}
                                <input type='hidden' name='chirp_id' value='{{ post.id }}'/>
                                <input type='image' src="{% static 'img/fi-dislike.svg' %}"/>
                            </form>
                        </li>
                        {% if post in request.user.profile.chirps_disliked.all %}
                            <li  class="custom-dislike-item" >
                        {% else %}
                            <li>
                        {% endif %}
                            <strong>{{ post.dislikes.count }}</strong> &nbsp;
                        </li>
                    </ul>
                    <div class="custom-edit-delete">
                        {% if user.username == post.author.username %}
                            <a href="{% url 'posts:edit' post.pk %}"><small>edit</small></a>
                            <a href="{% url 'posts:delete' post.pk %}"><small>delete</small></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="medium-3 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
            <h4>Trending</h4>
            <ul>
                <li><a href="#">First</a></li>
                <li><a href="#">Second</a></li>
                <li><a href="#">Third</a></li>
                <li><a href="#">Fourth</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row column">
    <ul class="pagination" role="navigation" aria-label="Pagination">
        <li class="disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li><a href="#" aria-label="Next page">Next</a></li>
    </ul>
</div>

{% endblock content %}

