<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chirp</title>
</head>
<body>
    <header>
        <div>        
            <h1><a href="{% url 'posts:home' %}">Chirp</a></h1>
        </div>
        <div>
            {% if user.is_authenticated %}
            <p>Welcome back, <a href="#">Username</a></p>
            <p><a href="#">Logout</a></p>
            <p><a href="{% url 'posts:new' %}">+ New Chirp</a></p>
            {% else %}
            <p><a href="#">Login</a></p>
            <p><a href="#">Signup</a></p>
            {% endif %}
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>