*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background: rgb(133, 192, 207);
}
.wrapper{
    width: 100%;
    height: auto;
    margin: 10% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "b b"
    "a a"
    "d d"
    "c c"
    "e e"
    
}
.item{
    background: rgb(248, 248, 248);
    color: black;
    padding: 3%;
    margin: 2%;
    font-size: 60%%;
    text-align: center;
    
}

#d img {
    
    width: 40px;
    height: auto;
    justify-content: center;
}
#e img {
    width: 50px;
    height: auto;
    justify-content: center;
    align-content: center;
}
#a {
    grid-area: a;
    width:85%%;
    
}
#b {
    grid-area: b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    font-size: 200%;
    border: 2px solid lightsteelblue ;
}
#c {
    grid-area: c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90%;

}
#d {
    grid-area: d;
    justify-content: center;
    
}
#e {
    grid-area: e;
    display: flex;
    flex-direction: row;
    padding: 12px;

}
li {
    list-style-position: inside;
    padding: 4px;
    font-size: x-small;
}
#a img {
    width: 60px;
    height: auto;
    border: 2px solid black
}
#e p {
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90%;
    justify-content: center;
    align-content: center;
}
@media screen and (min-width:720px) {
    .wrapper{
        width: 90%;
        margin: 10% auto;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "a b b"
        "a c d"
        "e e e"
        
    }
}

@media screen and (min-width:1080px) {
    *{
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    body{
        background: rgb(133, 192, 207);
    }
    .wrapper{
        width: 90%;
        margin: 10% auto;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "a b b"
        "a c d"
        "a e d"
        
    }
    .item{
        background: rgb(248, 248, 248);
        color: black;
        padding: 10px;
        margin: 2px;
        font-size: 100%;
        text-align: center;
        
    }
    
    #d img {
        width: 80px;
        height: auto;
    }
    #e img {
        width: 100px;
        height: auto;
        justify-content: center;
        align-content: center;
    }
    #a {
        grid-area: a;
        
        
    }
    #b {
        grid-area: b;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font: bold;
        font-size: 300%;
        border: 3px solid lightsteelblue ;
    }
    #c {
        grid-area: c;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 125%;
    
    }
    #d {
        grid-area: d;
        /* display: flex;
        flex-direction: column; */
        
    }
    #e {
        grid-area: e;
        display: flex;
        flex-direction: row;
        padding: 12px;
    
    }
    li {
        list-style-position: inside;
        padding: 12px;
        font-size: 100%;
    }
    #a img {
        width: 150px;
        height: auto;
        border: 4px solid black
    }
    #e p {
        padding: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 125%;
        justify-content: center;
        align-content: center;
    }
}