*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background: #FBFBFB;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: 130px;
    
}
.item{
    background:  #58d5f5;
    color: white;
    padding: 10px;
    font-size: 225%;
    text-align: center;
    
}
.item:nth-child(even){
    background: #236fc8;
}
img {
    width: auto;
    height: 100px;
}
.gridwrapper{
    width: 90%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 5fr;
    
}