/* Grid Page Layout */
body {
  background-color: rgba(210, 191, 226, 0.678);
  max-width: 1200px;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 0px;
  flex: 1 100%;
  /* border:1px solid #000; */
}
.header {
  grid-area: header;
  max-width: 360px;
  box-shadow: 0 0 20px black;
  margin: 6px;
}
.sidebar {
  grid-area: sidebar;
  max-width: 300px;
  background-color: rgba(64, 50, 187, 0.753);
  box-shadow: 0 0 12px #333;
  margin: 6px;
  padding: 6px;
}
.main {
  grid-area: main;
  max-width: 1000px;
}
.footer {
  grid-area: footer;
  /* background-color: rgba(136, 101, 38, 0.507); */
  margin: 6px;
  padding: 6px;
}
.container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 12px;
  margin-left: 12px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: fr fr fr fr fr;
  grid-template-areas: "sidebar header header ." "sidebar main main main" "sidebar main main main" "sidebar main main main" "sidebar footer footer footer";
}
.flex_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(64, 50, 187, 0.753);
  /* background-color: rgba(105, 25, 158, 0.699); */
  box-shadow: 0 0 12px #333;
  padding: 6px;
  margin: 6px;
}
.flex_images {
  display: flex;
  flex-direction: row;
  /* background-color: rgba(204, 171, 23, 0.726); */
  margin: 6px;
}
img {
  margin: 24px;
  box-shadow: 0 0 20px black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
/* Horizontal Nav Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(64, 50, 187, 0.753);
}
li {
  float: left;
  box-shadow: 0 0 6px #333;
  background-color: rgba(105, 25, 158, 0.699);
  margin: 6px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(33, 26, 97, 0.616);
}