<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>

    <!-- Styles here -->
    <link rel="stylesheet" href="/css/site.css" />

</head>
<body>
    <div id="app">
        <h1>Vue Todo List</h1>
        <input v-model="newItem">

        <h3>Active items:</h3>
        <ol>
            <todo-item
                v-for="item in activeTodoList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
        <h3>Completed items:</h3>
        <ol>
            <todo-item
                v-for="item in completedTodoList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>

    <!-- Includeing Vue from cdn -->
    <script src="https://unpkg.com/vue"></script>
    <!-- Site source code -->
    <script src="/js/site.js"></script>
</body>