{% extends 'base.html' %}
{% block content %}
    <div class="bark_entry">
            <div class="name">
                {{ bark.author }}
            </div>
            <div class="date">        
                {{ bark.created }}
            </div>
            {% if bark.author == request.user %}
                <div>
                    <form method="post" action="{% url 'barker_app:delete' bark.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                            <input type="submit" value="delete" class="delete">
                    </form>
                </div>
            {% else %}
            {% endif %}
            <div class="text">
                {{ bark.body }}
            </div>
        </div>
{% endblock content %}