#grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "eqn eqn eqn eqn eqn"
    "res res res res res"
    "nu1 nu2 nu3 add exponent"
    "nu4 nu5 nu6 minus factorial"
    "nu7 nu8 nu9 multiply sqrt"
    "dec nu0 neg divide modulus"
    "clr clr sin cos tan"
    "bak bak eql eql eql";
    height: 250px;
}
#equation {grid-area: eqn;}
#answer {grid-area: res;}
#button-1 {grid-area: nu1;}
#button-2 {grid-area: nu2;}
#button-3 {grid-area: nu3;}
#button-4 {grid-area: nu4;}
#button-5 {grid-area: nu5;}
#button-6 {grid-area: nu6;}
#button-7 {grid-area: nu7;}
#button-8 {grid-area: nu8;}
#button-9 {grid-area: nu9;}
#button-0 {grid-area: nu0;}
#button-decimal {grid-area: dec;}
#button-add {grid-area: add;}
#button-subtract {grid-area: minus;}
#button-multiply {grid-area: multiply;}
#button-divide {grid-area: divide;}
#button-equal {grid-area: eql;}
#button-factorial {grid-area: factorial;}
#button-negate {grid-area: neg;}
#button-exponent {grid-area: exponent;}
#button-sqrt {grid-area: sqrt;}
#button-modulus {grid-area: modulus;}
#button-sin {grid-area: sin;}
#button-cos {grid-area: cos;}
#button-tan {grid-area: tan;}
#button-clear {grid-area: clr;}
#button-backspace {grid-area: bak;}
p {
    margin: 0;
}