{% extends 'base.html' %}
{% load static %}

{% block html_content %}
<div class="credential-dialog">
    <h1>Login results</h1>
    <div>
        {% if authenticated %}
            <p>Wargaming Nickname: <strong>{{ nickname }}</strong></p>
            <p>Wargaming Account ID: <strong>{{ account_id }}</strong></p>
            <p>You are logged into CCC with this Wargaming account: <strong>{{ request.user.username }}</strong></p>
        {% else %}
            <p style='color: rgb(255, 0, 0);'><strong>Authentication error</strong></p>
            <p><a href="{% url 'wowsopenid:first' %}">Try again ;)</a></p>
        {% endif %}
    </div>
</div>
{% endblock html_content %}
    
        
