body {
    background-color: darkseagreen;
    color: rgb(2, 73, 73);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center
}

header {
    font-size: 30pt;
}

ul {
   list-style-type: none;
}

li {
    font-size: 20pt;
    text-decoration: none;
}

.completed {
    text-decoration: line-through;
}

input, button {
    font-size: 15pt;
}

::placeholder {
    font-size: 15pt;
}
