<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Current NBA Season Averages</h1>
        <playersearch @give-player="logPlayer" @give-name="produceName"></playersearch>
        <div v-if="playerAverages.length > 0">
            <h1> {{playerfullname}}</h1>
            <ul v-for="(stat, key) in playerAverages[0]">
                <li>{{ key + " : " + stat }}</li>
            </ul>
        </div>
        <div v-else-if="playerAverages.length == 0 ">
            <p>No Player Found</p>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>